.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;
  .button {
    margin-top: 1rem;
    width: 100%;
  }
  .control {
    margin-bottom: 1rem;
  }
}
